// THEME SETTINGS

$primary-color: #ffffff;
$secondary-color: #ffffff;
$header-font: 'Arial', sans-serif;
$header-1: #ffffff;
$header-2: #ffffff;
$header-3: #ffffff;
$header-4: #ffffff;
$header-5: #ffffff;
$header-6: #ffffff;
$body-text: #ffffff;
$body-font: 'Arial', sans-serif;


